.wrap {
  padding-top: 88px!important
}
.content-wrapper {
  padding-top: 88px!important
}
.actionbar {
  top: 51px;
  background-color: #fff;
  padding: 5px 20px;
  border-bottom: solid 1px #999;
  z-index: 3
}
.actionbtn a,
.actionbtn button {
  margin: 3px auto
}
@media (max-width:1024px) {
  .actionbar {
    padding: 5px 10px
  }
}
@media (max-width:768px) {
  .actionbar {
    padding: 5px 0
  }
}
@media print {
  .wrap {
    padding-top: 0!important
  }
  .actionbar {
    display: none!important
  }
}