.actionbtn .text-success, .color-green {color:#5cb85c;}
.actionbtn .text-danger, .color-red {color:#d9534f;}
.actionbtn .text-warning, .color-yellow {color:#f0ad4e;}
.actionbtn .text-info, .color-blue {color:#428bca;}

.color-grey {color:#737373;}